/****
General Styling
*****/

button:hover {
  cursor: pointer;
}

section {
  padding: 76px 0;
}

.nav-link {
  transition: 0.2s ease-in;
}

.jumbotron {
  background: url("imgs/projects2.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  /*margin-bottom: -70px;*/
}

#jumbo-text, #learnMoreBtn {
  display: none;
  font-family: 'Alfa Slab One', cursive;
}

#learnMoreBtn {
  border-color: yellowgreen;
}

#titleBtn {
  height: 100px;
}

.customTitle {
  font-family: 'Monoton', cursive;
  color: yellowgreen;
}

/*
.nav-link, .nav {
  display: none;
}
*/

.fadeInBlock {
  opacity: 0;
}

.sectionTitle {
  color: #FFF;
  border-bottom: 1px solid yellowgreen;
}

section {
  min-height: 90vh;
  /*margin-bottom: -70px;*/
}

#whoIam {
  color: #FFF;
  background-image: url("imgs/about2.jpg"), linear-gradient(rgba(154,205,50,0.8),rgba(154,205,50,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  margin-top: -32px;
}

#moreBioButton {
  /*color: rgb(199,69,237);*/
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
  border: 4px solid rgb(199,69,237);
  display: block;
}

#moreExpButton {
  /*color: rgb(199,69,237);*/
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
  border: 4px solid yellowgreen;
  display: block;
}

#approach {
  background-image: url("imgs/contact_background.jpg"), linear-gradient(rgba(199,69,237,0.8),rgba(199,69,237,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 90vh;
}

.card {
  color: #FFF;
  background-color: rgba(105,26,184,0.4);
}

.approachIcons {
  font-size: 10vh;
  /*
  border: 2px solid yellowgreen;
  border-radius: 50%;
  */
  padding: 5px;
  margin-bottom: .25em;
}

.card {
  border: none;
  transition: 0.2s ease-in;
}

.card-title {
  color: yellowgreen;
}

.card:hover {
  transform: scale(1.1);
}

#tools {
  background: url("imgs/tools.jpg") no-repeat left;
  background-size: cover;
}

#projectSectionTitle {
  color: black;
}

.project {
  height: auto;
  color: #FFF;
  margin: 0.25em;
  transition: 0.3s ease-in;
}

.project img {
  transition: 0.3s ease-in;
}

.project:hover img {
  transform: scale(1.1);
}

#projects {
  /*clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);*/
  margin-bottom: -70px;
}

#projects a:hover {
  text-decoration: none;
}

#project1 {
  margin-bottom: -3em;
}

/*
#project2 {
  background: url("imgs/building_site2.jpg") no-repeat center;
  background-size: cover;
}

.projectTitle {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  color: black;
  width: 50%;
  border-radius: 5px;
  border: 1px solid yellowgreen;
  transition: 0.3s ease-in;
  z-index: 1;
}

.project:hover .projectTitle {
  background-color: rgba(255,255,255,0.8);
}
*/

.carousel-indicators li {
  background-color: rgb(134, 142, 150);
}

.carousel-control-icon {
  font-size: 2.5em;
  color: black;
}

.toolLogo {
  width: 40%;
  height: auto;
}

.projectLogo {
  width: 10%;
  height: auto;
}
/*
#projects {
  background: url("imgs/background.jpg") no-repeat center;
  background-size: cover;
}
*/
#learning {
  /*
  background: url("imgs/books1.jpg") no-repeat center;
  background-size: cover;
  */
  background-image: url("imgs/books1.jpg"),linear-gradient(rgba(199,69,237,0.8),rgba(199,69,237,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

#thBadgeButton {
  font-family: 'Alfa Slab One', cursive;
  display: block;
  color: #FFF;
  border: 4px solid yellowgreen;
}

.badges {
  width: 50%;
  height: auto;
}

#more {
  padding-bottom: 0;
  /*
  background: url("imgs/pad.jpg") no-repeat center;
  background-size: cover;
  */
  background-image: url("imgs/pad.jpg"), linear-gradient(rgba(154,205,50,0.8),rgba(154,205,50,0.8));
  background-blend-mode: overlay;
  background-size: cover;
}

#contactButton {
  /*color: rgb(199,69,237);*/
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
  border: 4px solid rgb(199,69,237);
  display: block;
}

footer {
  height: 10vh;
}

.footer-copyright {
  height: 1.5em;
}

#platformLogos {
  width: 50%;
}

#platformLogos a {
  height: 35px;
  width: 35px;
  background-color: #FFF;
  border-radius: 50%;
  padding: 4px;
  transition: 0.3s ease-in;
  margin: 0 .5em;
}

.findMeLogos {
  width: 100%;
  height: 100%;
}

#platformLogos a:hover {
  background-color: yellowgreen;
}



@media (min-width: 768px) {

  .jumbotron, #whoIam, #approach, #tools, #learning, #more {
    background-attachment: fixed;
  }

  footer {
    height: 7vh;
  }
}
