/****
General Styling
*****/


a, button a, .steps, #findMeLogos {
  transition: 0.25s ease-in;
}


#nextSteps a:hover {
  color: greenyellow;
}

.jumbotron {
  background: url("imgs/background.jpg") no-repeat center;
  background-size: cover;
}


/****
Article Styling
*****/


#createdInfo {
  font-size: .75em;
  text-align: center;
  padding: .5em;
  width: 50%;
  max-width: 200px;
  border: 1px solid rgb(62, 71, 79);
}


.stepNumbers {
  text-align: center;
  color: #FFF;
  background-color: rgb(62, 71, 79);
  width: 130%;
  border-radius: 50%;
}


.section-subheader {
  margin-bottom: .5em;
}

.subSection {
  margin: 2em 0;
}

.subSection img {
  margin: 1em auto;
  width: 100%;
  height: 100%;
}


#excelScreenshot {
  max-width: 300px;
  max-height: 200px;
}

#liveCalcScreenshot {
  width: 50%;
  height: auto;
}

.viewButtons {
  width: 50%;
  background-color: red;
}

#nextSteps h1 {
  color: #FFF;
  margin: .25em 0;
}


.steps {
  width: 90%;
  text-decoration: none;
}


#portfolioSiteLink, #returnHomeLink {
  height: 100px;
  background: url("imgs/placeholder_bg.jpg") no-repeat center;
  background-size: cover;
  text-decoration: none;
}

#platformLogos {
  width: 50%;
}

#platformLogos a {
  height: 35px;
  width: 35px;
  background-color: #FFF;
  border-radius: 50%;
  padding: 4px;
  transition: 0.3s ease-in;
  margin: 0 .5em;
}

#platformLogos a:hover {
  background-color: yellowgreen;
}

.findMeLogos {
  width: 100%;
  height: 100%;
}


@media (min-width: 768px) { 
  .steps {
    color: #FFF;
    width: 45%;
  }
}




